<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>web02t</display-name>

  <!-- 스프링 ContextLoaderListener가 사용할 설정 파일의 경로 지정 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <!-- <param-value>classpath:java56/application-context.xml</param-value> -->
    <param-value>/WEB-INF/application-context.xml</param-value>
  </context-param>

	<!-- 리스너 선언 -->
	<listener>
	  <!-- 스프링의 ContextLoaderListener는 모든 서블릿들이 사용할 공통 객체를 관리한다. 
	  => application-context.xml은 공통 객체를 선언한다.
	  -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 필터 클래스 선언 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- 필터를 적용할 URL 지정 -->
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>

  <!-- 기존의 자체 개발한 DispatcherServlet을 스프링 클래스로 대체함 
  => 스프링에서 제공하는 프론트 컨트롤러를 사용할 때는 페이지 컨트롤러를 스프링 규격에 맞추어 작성해야 한다.
  => 스프링의 프런트 컨트롤러는 자신이 사용할 객체(페이지 컨트롤러 등등)를 자체 관리한다.
  => /WEB-INF/서블릿이름-servlet.xml 파일에 자신이 사용할 객체를 설정한다.  
  -->
  <servlet>
    <servlet-name>do</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 프런트 컨트롤러가 사용할 스프링 설정파일이 /WEB-INF/서블릿이름-servlet.xml로 되어 있다면 
      굳이 경로를 설정할 필요가 없다. 자동으로 찾는다.-->
    <!--      
    <init-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>/WEB-INF/do-servlet.xml</param-value>
	  </init-param>
	  -->
  </servlet>
  
  <servlet>
    <servlet-name>json</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>do</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>json</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>

	<!-- URL 경로에 자원 이름을 구체적으로 지정하지 않으면 다음 태그에 정의된 파일을 찾아서 보낸다. -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<res-ref-name>jdbc/bitdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>





