@CHARSET "UTF-8";
*, *:before, *:after {
  box-sizing:  border-box !important;
  }


.row {
 -webkit-column-width: 16em;
 -moz-column-gap: .2em;
 -webkit-column-gap:.5em; 
  margin-top: 100px;
}


.well {
  padding: 1px;
}


.item {
  display: inline-block;
  padding: 0;
  width: 100%;
}


.well {
 position:relative;
 display: block;
}

/* 08/18추가!! */
.navbar-default{
  background-color:#4b399e;
  text-align: center; 
  color: #ffffff; 
  font-family: Herculanum;
  font-size: 18px; 
  padding: 0px;
}

.navbar-text{
  font-size: 20px;
}


body {
  background: #ebebeb;
  
}

.col-xs-5{
  padding-right: 0;
  padding-left: 0;
}


.thumbnail{
  display: inline-block;
  padding: 0;
}

.thumbnail .caption {
  padding: 1px;
  }

.well{
  
  border: 0px;
}

.btn-lg{
  padding: 10px 13px;
}

.btn-default{
  background-color:#4b399e;
}
.btn{
  border-radius: 4px;
  padding: 4px 6px;
}

#content{
  padding-left: 10px;
  padding-right: 10px;
}

#wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}

#columns {
  -webkit-column-gap: 0;
  -webkit-column-fill: auto;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 1px solid #FAFAFA;
  box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 1px;
  padding-bottom: 1px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1; 
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; 
}

.pin p {
  font: 22px/43px Arial, sans-serif;
  color: #333;
  margin: 0;
  padding:10px;
}

@media (min-width: 400px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

#columns:hover .pin:not(:hover) {
  opacity: 0.8;
}


                             /* 좋아요버튼,친구추가버튼  오른쪽 정렬  */
.btnss{
  
 text-align: right; 
}
                  /* ////////////여기까지////////////// */



                     /* 프로필 사진이미지 관련한 css   */
#image-submit {
    border: 0px;
    width: 0px;
    height: 0px;
    margin: 10px;
}    

#photo {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1px;
  margin-bottom: 1px;
  hover: 1px solid #ccc;
}


#profile{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #cfcfcf
} 

#topmenu#btn{
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
  background-color: #4b399e;
  border: 0px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  background-color: #4b399e;
  border: 0px;
}
.btn-group>.btn:last-child:not(:first-child){
  background-color: #4b399e;
  border: 0px;
}

.glyphicon {
  color: #ffffff;
}

.progress{
  margin-bottom:2px;
  border-radius: 2px;
}

.progress-bar-info {
  background-color: #428bca;
 }
 
 .progress-striped .progress-bar-info {
 background-size: 10px 60px;
 }
 
.progress-striped .progress-bar-danger {
   background-size: 10px 60px;
   }
   
.p{
  padding: 0 0 4px;